<main class="single">
    {{#with post}}
        <article id="{{id}}" class="post">
        	<div class="info">
        		<p class="date">{{date}}</p>
        		<p class="tags">
                    {{#eachDelimited tags "<sub>,&nbsp;&nbsp;</sub>"}}
                        <a href="/tag/{{this}}">{{this}}</a>
                    {{/eachDelimited}}
                </p>
        	</div>
        	<h1 class="title">{{title}}</h1>
        	<div class="content">
        		{{{content}}}
        	</div>
        </article>
    {{/with}}
    <div id="comments"></div>

    {{#ifCond newerPost "||" olderPost}}
        <nav class="page-navigation fixed clr" role="navigation">
            {{#if newerPost}}
                <a href="/{{newerPost.id}}" class="next" role="back">{{newerPost.title}}</a>
            {{/if}}
            {{#if olderPost}}
                <a href="/{{olderPost.id}}" class="prev">{{olderPost.title}}</a>
            {{/if}}
        </nav>
    {{/ifCond}}

</main>
