<div class="tooltip-content">
  <h3>{{name}}</h3>
  <div class="stats">
    <div class="item">
      <span class="item-label">Leave (paid):</span> <span class="item-value">{{paidLeave}}</span>
    </div>
      <div class="item sub">
        <span class="item-label">Versus overall avg:</span> {{percentDiff diffFromMeanOverall}}
      </div>
      <div class="item sub">
        <span class="item-label">Versus industry avg:</span> {{percentDiff diffFromMeanIndustry}}
      </div>
      {{!-- <div class="item sub">
        <span class="item-label">Versus overall median:</span> {{percentDiff diffFromMedianOverall}}
      </div>
      <div class="item sub">
        <span class="item-label">Versus industry median:</span> {{percentDiff diffFromMedianIndustry}}
      </div> --}}
    <div class="item">
      <span class="item-label">Leave (unpaid):</span> <span class="item-value">{{nullSafe unpaidLeave}}</span>
    </div>
    <div class="item">
      <span class="item-label">Industry:</span> <span class="item-value">{{industry}}</span>
    </div>
    {{#if subclassification}}
      <div class="item sub">
        <span class="item-label">Subclassification:</span> <span class="item-value">{{nullSafe subclassification}}</span>
      </div>
    {{/if}}
  </div>
</div>
